<input type="text" class="criteria_operand_input binary_operator_left_operand" placeholder="property" value="<%= property_name %>" />
<span class="criteria_expression_operator"><%= operator %></span>
<input type="text" class="criteria_operand_input binary_operator_right_operand" placeholder="value" value="<%= value %>" />