<div class="criteria_expression_row" data-locator="<%= @locator %>">
  <button class="criteria_expression_options_button">...</button>
  <input type="text" class="criteria_operand_input binary_operator_left_operand" placeholder="property" value="<%= property_name %>" />
  <span class="criteria_expression_operator"><%= operator %></span>
  <input type="text" class="criteria_operand_input binary_operator_right_operand" placeholder="value" value="<%= value %>" />
  <a href="#" class="criteria_expression_delete">Delete</a>
</div>

