<!DOCTYPE html>
<html>
<head>
  <title>Criteria operator ui component</title>
  <%= stylesheet_link_tag    "criteria_operator/ui_component/application", media: "all" %>
  <%= javascript_include_tag "criteria_operator/ui_component/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
