<div class="criteria_expression_row">
  <button class="criteria_expression_options_button">...</button>
  <input type="text" placeholder="property" />
  <span class="criteria_expression_operator"><%= test %></span>
  <input type="text" placeholder="value" />
  <a href="#" class="criteria_expression_delete">Delete</a>
</div>