<div class="criteria_expression_row">
  <button class="criteria_expression_options_button">...</button>
  <%= cell('criteria_operator/ui_component/expression', @expression).() %>
  <a href="#" class="criteria_expression_delete">Delete</a>
</div>
