<div class="criteria_group_row" data-locator="<%= @locator %>" data-childcount="0">
  <button class="criteria_expression_options_button">...</button>
  <span class="criteria_group_row_header"><%= test %></span>
  <% if @allow_delete %>
    <a href="#" class="criteria_group_delete">Delete</a>
  <% end %>
  <%= cell('criteria_operator/ui_component/group', @group).() %>
  <a href="#" class="criteria_editor_new_group">Add group</a><br />
  <a href="#" class="criteria_editor_new_expression">Add expression</a>
</div>