<div class="criteria_editor">
  <span class="criteria_editor_header">This is the header</span>
  <%= cell('criteria_operator/ui_component/criteria_editor', model).(:group_row, allow_delete: false) %>
  <input type="hidden" class="criteria_editor_root_operator" value="<%= serialized_operator %>" />
</div>
